# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Pacotes e distribuições
*.egg-info/
*.egg
dist/
build/

# Ambientes virtuais
venv/
.venv/
env/
.env/

# Banco de dados SQLite (se tiver)
*.sqlite3

# Configurações de IDEs e SO
.vscode/
.idea/
.DS_Store
Thumbs.db
